doctype html
html
    head
        title Artist Directory
        link(href="/css/style5.css" type="text/css" rel="stylesheet")
    body
        //- header
        //-     div
        //-         a.btn(href="/login") Logout
        main
            include partials/search-box.pug
            include partials/artist-list.pug
        script(type="text/javascript" src="/js/lab5.js" defer)